* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}

body { 
            margin: auto;
            width: 100%;
            min-height: 320px;
            font-size: 1.5em;
            font-family: 'cheddar jack', 'Rochester';
            color: darkgray;
            line-height: 2em;
           }


nav {   
        width: 100%;
        position: absolute;
        top: 0;
        font-family: 'orator std', 'Helvetica';
        background-color: darkgray;
        padding-top: .5em;
        padding-bottom: .3em;
        position: fixed;
        text-align: center;
        z-index: 10;
        opacity: 0.9;
        }

nav ul {
    text-align: center;   
    }
    
    nav ul li {
        display: inline;
        margin: 20px;
        text-align: center;
        font-family: 'orator std', 'Helvetica';
        }

 li { display: inline;
}



a:link {
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 90%;
        vertical-align: middle;
}
        
/* unvisited link */
 a:link {
        color: white;
        text-transform: uppercase;}

/* visited link */
a:visited {
        color:whitesmoke;
        text-transform: uppercase;}

/* mouse over link */
a:hover {
    color:lightpink;
}



/*-----POLAROID LINKS------*/
.gallery a:link {
            color: darkgray;
            font-family: 'Besom', 'parabola', 'Rochester';
}


.gallery a:visited{
            color: darkgray;
            font-family: 'Besom', 'parabola', 'Rochester';
}

.gallery a:hover {
            color: hotpink;
            font-family: 'Besom', 'parabola', 'Rochester' ;
}




.first {
    width: 100%;
    border-top: 1.5px solid lightpink;
    border-bottom: 1.5px solid lightpink;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    text-align: center;
    font-family: 'Besom', 'parabola', 'Rochester';
    font-size: 150%;
    letter-spacing: 1px;
}

.second {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    text-emphasis: bold;
    font-style: italic;
    font-weight: 300;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 140%;
}


.third {
    padding-left: 5em;
    margin-left: 2em;
    padding-right: 5em;
    margin-right: 2em;
    text-align: left;
    text-emphasis: bold;
    font-weight: 200;
    font-family: 'Big Caslon', 'Arapey';
    font-size: 80%;
}

.social {
    color: darkgray;
    font-family: 'Besom', 'parabola', 'Rochester';
    font-size: 85%;
    margin-top: 1em;
    z-index: 15;
    text-decoration: none;
}

.socialimages:hover {
    opacity: 0.5;
    z-index: 15;
    
}



.floralwreath {
    padding-top: 4em;
}

.amy {
    
    padding-top: 1em;
    margin-right: .3em;
}


.amy2 {
    padding-top: 1em;
}


.closing {
    font-size: 500%;
}

.boxed {
  border: 2px solid lightpink;
    margin-right: 5em;
    margin-left: 5em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: .3em;
}

.background {
    width: 100%;
    position: relative;
    z-index: -2;
}

.Portfolio {
    font-family: "Besom", 'parabola', 'Rochester';
    font-size: 200%;
}

.leaf {
    z-index: 10;
    left: 0;
    position: absolute;
    margin-left: 1.2em;
    margin-top: 10em;
}


.frame { 
    z-index: -1;
    left: 0;
    position: absolute;
    margin-left: 21.5em;
    padding-bottom: 5em;
    padding-bottom: 3em;
    
}    

 

/*----------------------Polaroid------------------*/

#container {
	width: 600px; margin: 1px auto;
}

.gallery {
    margin-top: 2.5em;
    margin-left: 2em;
    margin-right: 1em;
}



ul.gallery li a{
	float: left;
	padding-right: .5em;
    padding-left: .5em;
	background: #eee;
    padding-top: .5em;
    background-image: no-repeat;
}



/* By default, we tilt all our images -2 degrees */
ul.gallery a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
ul.gallery li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.gallery li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.gallery li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.gallery li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
ul.gallery li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}

ul.gallery li a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.gallery li a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
ul.gallery li a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}




/*-----------------------MEDIA QUERIES-------------------*/

/*----------------TABLET---------------*/

@media (max-width: 50em) {
	
	body{
		background: #f0f0f0;
		}
	
	article{
		width: 95%;
		padding: 0.5em;
		}
	
	img{
		display: block;
		margin: 1em auto;
		padding: 0;
		max-width: 100%;
		}
}
	
/*-------------SMARTPHONE-----------*/

@media (max-width: 30em) {
	
	body{
		margin: auto 0;
		background: #f0f0f0;
		width: 100%;
		font-size: 100%;
		}

	article{
		width: 90%;
		}
	
	h1{font-size: 2.9em}
	
	hgroup h2{font-size: 1.5em;
		padding-top: 0.5em}
	
	blockquote{margin: 0;
			line-height: 1.5em;}
	
	nav ul li{font-size: .75em;
		margin: 10px}
}


    
/*----------------------*/

@font-face {
    font-family: 'parabola';
    src: url('parabola-regular-webfont.eot');
    src: url('parabola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('parabola-regular-webfont.woff2') format('woff2'),
         url('parabola-regular-webfont.woff') format('woff'),
         url('parabola-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Besom';
    src: url{'Besom.ttf');}
}

@font-face {
    font-family: 'Besom';
    src: url{'Besom.otf');}
}


@font-face {
    font-family: 'Cheddar Jack';
    src: url{'cheddar jack.ttf');}
}

@font-face {
    font-family: 'Cheddar Jack';
    src: url{'cheddar jack.otf');}
}


@font-face {
    font-family: 'orator std';
    src: url{'orator std.ttf');}
}

@font-face {
    font-family: 'orator std';
    src: url{'orator std.otf');}
}


