* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}

body { 
            width: 100%;
            max-width: 900px;
            min-height: 320px;
            font-size: 1.5em;
            font-family: 'Arapey', serif; 
            margin: auto;
            color: black;
            line-height: 2em;
            background: url(../images/background.svg);}